{% extends 'base.html.twig' %}

{% block body %}

 <div class="jumbotron text-center">
    <h1>AGENCE DE ABBO </h1>
    <p>lorum isjddksbknskhjskdcvvhjdsbwiegh vh
    hvvvvjhjdfhvbndbjvurivreibhvhv vgsdvffvhafhgchdkewvhsgjhwfuvw bwu urgdvgegasvdc
    </p>
 </div>
 <div class="container">
   <h2>les derniers biens</h2>
   <div class="row flex">
     {% for property in properties%}
      <div class="rol-3">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">
                  <a href="{{path('property.show',{id:property.id , slug:property.slug}) }}"> {{property.title}}</a>
               </h5>
               <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
               <div class="text-primary" style="font-size:2rem; font-weight:bold">{{property.price | number_format(0, '', ' ')}}</div>
            </div>
         </div>
      </div>
     {% endfor %}
   </div>
 </div>

{% endblock %}
