{% extends 'base.html.twig' %}

{% block title%} {{ property.title }} {% endblock%}

{% block body %}

<div class="jumbotron">
<div class="container">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <h1> {{property.title}} </h1>
            <h2>{{ property.rooms}} pieces {{property.surface}} m²</h2>
            <div class="text-primary" style="font-size:4rem;font-weight:bold;">
                {{ property.price}}
            </div>
            <a href="#" class="btn btn-success">Contacter l'agence </a>
        </div>
    </div>
</div>
</div>
<div class="container mt-4">
    <p>
        {{ property.description | nl2br}}
    </p>
    <div class="row">
        <div class="col-md-8">
        <h2>Caractriatique</h2>
            <table class="table table-striped">
                <tr>
                    <td>Surface habitable</td>
                    <td> {{property.surface}} m² </td>
                </tr>
                <tr>
                    <td>Nombre de pieces</td>
                    <td> {{property.rooms}}</td>
                </tr>
                 <tr>
                    <td>Chambre</td>
                    <td> {{property.bedrooms}} </td>
                </tr>
                 <tr>
                    <td>Etage</td>
                    <td> {{property.floor}}</td>
                </tr>
                <tr>
                    <td>CLimatisation</td>
                    <td> {{property.heatType()}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Specificiter</h2>
        </div>
    </div>

</div>

{% endblock %}